alembic
blinker
charset-normalizer
click
colorama
dnspython
email-validator
et_xmlfile
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
numpy
openpyxl
pandas
pillow
psycopg2-binary
python-dateutil
python-dotenv
reportlab
six
SQLAlchemy
typing_extensions
tzdata
Werkzeug
WTForms
